.post-preview .post-meta .post-meta-stats {
  font-size: 14px;
}

.post-preview .post-meta .post-edit-link {
  font-size: 14px;
  margin-top: 5px;
}

/* FIX: Name not fit in mobile phone screen size */
@media only screen and (max-width: 400px) {
  .intro-header .site-heading h1,
  .intro-header .page-heading h1 {
      font-size: 40px;
  }

  .intro-header .site-heading .subheading,
  .intro-header .page-heading .subheading {
    font-size: 20px;
  }
}

@media only screen and (max-width: 768px) {
  nav.navbar.navbar-inverse.navbar-custom.navbar-fixed-top{
    opacity: 0.8;
  }
}
