extends ../layout

block content
  a(href='/blog') 
    span(class='glyphicon glyphicon-hand-left')
    |&nbsp;Back to the list
  br
  br
  form(action='/blog/add', method='POST')
    input(type='hidden', name='id', value=article.id)
    div(class='form-group')
      label(for='title') Title: 
      input(type='text', name='title', class='form-control', value=article.title)
    div(class='form-group')
      label(for='body') Content:
      textarea(name='body', id='body')=article.body
    button(type='submit', class='btn btn-success') Save

append scripts
  script.
    CKEDITOR.editorConfig = function( config ) {
      config.language = 'en';
      config.uiColor = '#F7B42C';
      config.height = 800;
      config.width = '100%';
      config.toolbarCanCollapse = true;
      config.autoGrow_onStartup = true;
    };
    CKEDITOR.replace( 'body' );
