extends ../layout

block content
  h1 Hello
  h4 My name is Sergey Kozachenko
  p
    | I am fullstack developer, my main technology is .Net but I am interesting in others like Node.js, Ruby, Python, Go.
    | I have a lot experience with backend and frontend. I love to solve complex problems, automate things with DevOps and design high load systems architecture.
    
  a(href="//stackexchange.com/users/1694106", target="_blank")
    img(src="//stackexchange.com/users/flair/1694106.png?theme=clean", width="208", height="58", alt="profile for Grievoushead on Stack Exchange, a network of free, community-driven Q&amp;A sites", title="profile for Grievoushead on Stack Exchange, a network of free, community-driven Q&amp;A sites")
  br
  br
  h2 Photo credits
  ul
    li 
      a(href="//www.flickr.com/photos/lrargerich/6582981443/", target="_blank") Comet Lovejoy & Friends
      |, by Luis Argerich
