extends ../layout

block content
  h1 About
  h4 My name is Sergey Kozachenko
  br
  h2 Photo credits
  ul
    li 
      a(href="//www.flickr.com/photos/lrargerich/6582981443/", target="_blank") Comet Lovejoy & Friends
      |, by Luis Argerich
