extends ../layout

block content
  h1 Hi
  p
    | My name is 
    b Sergey Kozachenko. 
    | I live in 🇺🇦Ukraine.
    br
    | I am working as 
    b FullStack Developer 
    | using 
    code .Net
    |/
    code Node.js
    | for backend and 
    code AngularJS
    | /
    code ReactJS 
    | for frontend.
    | I have an expert knowledge in 
    code .Net
    | and
    code JavaScript
    | , but I'm also interested in other technologies: 
    code Python
    | , 
    code Ruby
    | ,
    code Go
    | .
    | I have extensive experience working in large-scale projects, 
    | designing backend and frontend architectures, maintain and increase code quality,
    | automate build processes with DevOps and design high load systems architecture.
    
  a(href="//stackexchange.com/users/1694106", target="_blank")
    img(src="//stackexchange.com/users/flair/1694106.png?theme=clean", width="208", height="58", alt="profile for Grievoushead on Stack Exchange, a network of free, community-driven Q&amp;A sites", title="profile for Grievoushead on Stack Exchange, a network of free, community-driven Q&amp;A sites")
  br
  br
  br
  h4 Photo credits
  ul
    li 
      samp.credits
        a(href="//www.flickr.com/photos/lrargerich/6582981443/", target="_blank") Comet Lovejoy & Friends
        |, by Luis Argerich
