extends ../layout

block header
  header.intro-header(style="background-image: url('/img/home-bg.jpg'); height: 100%; margin-bottom: 0;")
    .container
      .row
        .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
          .site-heading
            h1 Grievoushead
            hr.small
            span.subheading Jedi apps developer with Ajax
          br
          br
          br
          br
          br
          ul.list-inline.text-center
            li
              a(href='//twitter.com/Grievoushead')
                span.fa-stack.fa-lg
                  i.fa.fa-circle.fa-stack-2x
                  i.fa.fa-twitter.fa-stack-1x.fa-inverse
            li
              a(href='//www.facebook.com/sergiy.kozachenko')
                span.fa-stack.fa-lg
                  i.fa.fa-circle.fa-stack-2x
                  i.fa.fa-facebook.fa-stack-1x.fa-inverse
            li
              a(href='//github.com/Grievoushead')
                span.fa-stack.fa-lg
                  i.fa.fa-circle.fa-stack-2x
                  i.fa.fa-github.fa-stack-1x.fa-inverse

block content_wrapper

block footer
